/* General style, whole code */
html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 90.5%;
}

/* Headers */
h1 {
    background: #004c87;
    color: white;
    padding: 2.5%;
}

h2 {
    background: #004c87;
    color: white;
    padding: 2.5%;
}

/* Div 2 columns */
.two-column-div {
    width: 100%;
   }

.right-column {
    padding: 50px;
    background-color: lightslategray;
    width: 40%;
    float: right;
    align-items: center;
    display: flex;
    justify-content: center;

}
.left-column {
    padding: 50px;
    background-color: lightslategray;
    width: 40%;
    float: left;
    align-items: center;
    display: flex;
    justify-content: center;
    
}


   
/* Nav style and effects */
nav {
    background: #004c87;
    padding: 2.5%;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

a {
    --b: 0.2em;
    /* the thickness of the line */
    --c: white;
    /* the color */

    color: #0000;
    padding-block: var(--b);
    background:
        linear-gradient(var(--c) 50%, #000 0) 0% calc(100% - var(--_p, 0%))/100% 200%,
        linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: .3s var(--_s, 0s) linear, background-size .3s calc(.3s - var(--_s, 0s));
}

a:hover {
    --_p: 100%;
    --_s: .25s;
}